.input {
    line-height: 28px !important;
    border: 2px solid transparent !important;
    border-bottom-color: #777 !important;
    padding: .2rem 0 !important;
    outline: none !important;
    background-color: transparent !important;
    color: white !important;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
   }
   
   .input:focus, input:hover {
    outline: none !important;
    padding: .2rem 1rem !important;
    border-radius: 1rem !important;
    border-color: #7a9cc6 !important;
   }
   
   .input::placeholder {
    color: #777 ;
   }
   
   .input:focus::placeholder {
    opacity: 0 !important;
    transition: opacity .3s !important;
   }
   

   .img-login {
    position: absolute;
    right: 7rem;
    top: 18rem;
    transform: rotate(-50deg);
   }